:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --color-white: #ffffff;
  --color-black: #000000;
  --primary-section-fon: #2f303a;
  /* decoration */
  --decoration-work-list: #eeeeee;
  --decoration-background: #f5f4fa;
  --decoration-buttons-2: #a9a9ad;
  --decoration-color-customers: #afb1b8;
}

*,
*::before,
*::after {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.general {
  flex: 1 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3 {
  color: var(--title-text-color);
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 480;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.page-header {
  background-color: var(--color-white);
  border-bottom: 1px solid #ececec;
  padding: 0;
}

.footer {
  padding: 60px 0;
  background: var(--primary-section-fon);
}

.footer-box {
  justify-content: center;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
  }
}
.section {
  padding: 60px 0;
  background: var(--color-white);
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section-portfolio {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding: 94px 0;
  }
}

.section-team {
  padding: 94px 0;
  background-color: #f5f4fa;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.logo:hover,
.logo:focus {
  transform: scale(1.5);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__logo,
.footer__logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.head-box {
  align-items: center;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
}
@media screen and (min-width: 1200px) {
  .head-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-header__navigation {
  display: flex;
  align-items: center;
}

.mobile-navigation {
  display: inline-flex;
  margin-left: auto;
  padding: 10px 0;
  border: 0;
  background-color: transparent;
  color: inherit;
}
@media screen and (min-width: 767px) {
  .mobile-navigation {
    display: none;
  }
}

.navigation {
  padding-top: 0;
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .navigation {
    margin-left: 0;
  }
}

.header_box {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header_box {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header_box {
    width: 100%;
  }
}

.navigation__link {
  display: block;
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .navigation__link {
    display: block;
    padding: 32px 0 31px;
    bottom: -1px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__link {
    padding-bottom: 32px;
    padding-top: 32px;
    bottom: -1px;
  }
}

.navigation__link::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 4px;
  width: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
  animation-name: animation-underline-none;
  animation-duration: 250ms;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover::after {
  transform: scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:focus::after {
  transform: scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link.current::before,
.navigation__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.navigation__list {
  display: flex;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    margin-left: 93px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 93px;
  }
}
.navigation__list:focus {
  background-color: var(--color-white);
  color: var(--accent-color);
}
.navigation__list:hover {
  color: var(--accent-color);
}

.navigation__list .navigation__item:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .navigation__item + .navigation__item {
  margin-left: 50px;
  background-color: black;
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    flex-direction: row;
    width: 360px;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contact__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
  }
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__item {
  display: flex;
  align-items: center;
}

.navigation__item:hover,
.navigation__item:focus {
  color: var(--accent-color);
}

.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.hero-txt {
  margin-left: auto;
  margin-right: auto;
  color: var(--color-white);
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero-txt {
    max-width: 600px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (nin-width: 768px) {
  .img-bgr-hero {
    padding: 120px 0;
  }
}

.img-bgr-hero {
  padding: 120px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primary-section-fon);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio-html.img/bagraund-sm.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .img-bgr-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio-html.img/bagraund-sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .img-bgr-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio-html.img/bagraund-md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .img-bgr-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio-html.img/bagraund-md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .img-bgr-hero {
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio-html.img/bagraund-lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .img-bgr-hero {
    padding: 200px 0;
    background-size: contain;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio-html.img/bagraund-lg@2x.jpg);
  }
}
.about-us {
  padding-bottom: 0;
}

.about-us__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.about-us__title {
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about-us__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .about-us__title {
    line-height: 1.14;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.about-us__text {
  margin-top: 10px;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .about-us__text {
    max-width: 300px;
  }
}

.about-us__box {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .about-us__box {
    width: 350px;
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about-us__box {
    max-width: 270px;
    max-width: calc((100% - 90px) / 4);
  }
}

.about-us__backraund {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--decoration-background);
}
@media screen and (min-width: 1199px) {
  .about-us__backraund {
    width: 270px;
  }
}

@media screen and (min-width: 1199px) {
  .about-us__icon {
    margin: 25px 100px;
  }
}

.work {
  padding-top: 0;
}
@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

.title-images {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-top: 50px;
}

.image {
  position: relative;
  max-width: 370px;
  max-height: 294px;
  margin: 15px;
}
.image-last {
  max-width: 370px;
  max-height: 294px;
}

.section-title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.what-do-we-do {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;
  padding-right: 10px;
  padding-left: 10px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.what-do-we-do-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.social-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-buttons:focus, .social-buttons:hover {
  background-color: var(--accent-color);
  fill: var(--color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-pozition {
  width: 20px;
  height: 20px;
}

.team-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .team-box {
    margin-top: 50px;
  }
}

.team-element {
  width: 100%;
  max-width: 450px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team-element {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-element {
    width: calc((100% - 90px) / 4);
  }
}

.workers {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.profession {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.2;
}

.social-networks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
}

.regular-customers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .regular-customers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .regular-customers {
    display: flex;
  }
}

.company-box {
  height: 92px;
  width: 210px;
}
@media screen and (min-width: 1200px) {
  .company-box {
    height: 92px;
    width: 170px;
  }
}

.company-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--decoration-color-customers);
  border-radius: 4px;
  color: var(--decoration-color-customers);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company-hover:hover, .company-hover:focus {
  cursor: pointer;
  color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.color-customers {
  fill: currentColor;
}
.color-customers:hover, .color-customers:focus {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer {
  display: flex;
  justify-content: center;
  color: var(--color-white);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-footer:hover, .logo-footer:focus {
  transform: scale(1.5);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1199px) {
  .logo-footer {
    display: inline-block;
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-contact :not(:last-child) {
  padding-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-contact :not(:last-child) {
    padding-bottom: 9px;
  }
}

.footer-address {
  margin-top: 20px;
}

.address-item .address-sity {
  display: flex;
  align-items: center;
}

.address-sity {
  display: flex;
  justify-content: center;
  font-style: normal;
  line-height: 1.7;
  text-decoration: none;
  color: var(--color-white);
}
@media screen and (min-width: 1200px) {
  .address-sity {
    display: block;
  }
}

.contacts {
  font-style: normal;
  line-height: 1.7;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover, .contacts:focus {
  background-color: var(--primary-section-fon);
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-addres-box {
  display: block;
  justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-addres-box {
    display: inline-block;
    margin-left: 55px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-addres-box {
    margin-left: 0px;
    margin-bottom: 0;
  }
}

.contacts-studio {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .contacts-studio {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .footer-social-section {
    margin-right: 45px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-section {
    margin-right: 0px;
  }
}

.join-in {
  display: flex;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
}
@media screen and (min-width: 1200px) {
  .join-in {
    display: block;
  }
}

.social-networks-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}
@media screen and (min-width: 1200px) {
  .social-networks-footer {
    max-width: 270px;
  }
}

.social-pozition-footer {
  margin: 12px;
  width: 20px;
  height: 20px;
}

.social-pozition:focus {
  color: var(--color-white);
}

.social-buttons-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-buttons-footer:hover, .social-buttons-footer:focus {
  background-color: var(--accent-color);
  fill: var(--color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-box {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .subscribe-box {
    margin-right: auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-box {
    margin-right: 0;
    width: 570px;
  }
}

.subscribe-title {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--color-white);
}
@media screen and (min-width: 1200px) {
  .subscribe-title {
    display: block;
    margin-top: 0;
  }
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    gap: 0px;
    flex-wrap: nowrap;
  }
}

.subscribe-email {
  outline: transparent;
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--color-white);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-email:hover, .subscribe-email:focus, .subscribe-email:active {
  border: 1px solid var(--accent-color);
  caret-color: var(--primary-text-color);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .subscribe-email {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  transform: scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-button:hover, .subscription-button:focus, .subscription-button:active {
  background: rgba(33, 150, 243, 0);
  color: var(--accent-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transform: scale(1.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  display: inline-block;
  fill: currentColor;
  margin-left: 10px;
}

.buttons {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .buttons {
    justify-content: center;
  }
}

.buttons:focus,
.buttons:focus:hover {
  background-color: var(--accent-color);
  color: var(--color-white);
}

.list-of-buttons {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-of-buttons:hover, .list-of-buttons:focus {
  background-color: var(--accent-color);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.list-of-buttons.current {
  color: var(--color-white);
  background-color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list-pozition {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
}
@media screen and (min-width: 768px) {
  .work-list-pozition {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .work-list-pozition {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
  }
}

.img-paddings {
  display: block;
  width: 100%;
}

.titles-of-works {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.paragraphs-of-works {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}

.work-list {
  width: 1200px;
  padding: 0 15px;
}

@media screen and (min-width: 1200px) {
  .work-list-pozition {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.work-elements {
  width: 450px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .work-elements {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .work-elements {
    width: 370px;
    margin: 15px;
  }
}

.work-elements:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-elements:hover .work-elements-hover-text {
  transform: translateY(0);
}

.work-elements-hover {
  overflow: hidden;
  position: relative;
}
.work-elements-hover-text {
  margin-top: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--color-white);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.decoration-work-lilt {
  border-left: 1px solid var(--decoration-work-list);
  border-right: 1px solid var(--decoration-work-list);
  border-bottom: 1px solid var(--decoration-work-list);
  padding: 20px 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: 250ms;
  transition-timing-function: translate cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-title-txt {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.modal-form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-back {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 4px;
  border-radius: 50%;
  background: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-back:hover, .button-back:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-back-img {
  display: block;
  fill: currentColor;
  transition-property: fill;
}

.label-for-modal {
  pointer-events: none;
  margin-right: auto;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.input-info {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.user-name,
.user-phone,
.user-email,
.for-user-comment {
  width: 100%;
  height: 40px;
  padding: 10px 20px 10px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  fill: var(--title-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.for-user-comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.for-user-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-name:focus,
.user-phone:focus,
.user-email:focus,
.for-user-comment:focus {
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  color: var(--title-text-color);
  caret-color: var(--color-black);
}

.user-name:focus + .modal-user,
.user-phone:focus + .modal-user,
.user-email:focus + .modal-user {
  fill: var(--accent-color);
}

.terms-of-consent {
  position: relative;
  margin: 20px auto 30px;
  padding-left: 23px;
  color: var(--primary-text-color);
  cursor: pointer;
  user-select: none;
}

.daw-frame {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checked-box {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 8px;
  top: 50%;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  transform: translate(-50%, -50%);
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-check {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.daw-frame:checked + .checked-box {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}

.daw-frame:focus + .checked-box {
  border: 2px solid var(--accent-color);
}

.daw-frame:hover + .checked-box {
  border: 2px solid var(--color-black);
}

.daw-frame:focus:checked:focus + .checked-box {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}

.accept-txt {
  line-height: 1.7;
}

.contract-info {
  line-height: 1.7;
  text-decoration: none;
  color: var(--accent-color);
}
.contract-info:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0.34em;
  width: 112px;
  height: 1px;
  background-color: var(--accent-color);
}

.send-button {
  margin: 0 auto;
  padding: 10px 56px;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover, .send-button:focus, .send-button:active {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */