.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  max-width: 480px;

  // @media screen and (max-width: 767px) {
  // }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.page-header {
  background-color: var(--color-white);
  border-bottom: 1px solid #ececec;
  position: relative;

  padding: 0;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.footer {
  padding: 60px 0;

  background: var(--primary-section-fon);
}

.footer-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    justify-content: start;
    text-align: start;
  }
}
