:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --color-white: #ffffff;
    --color-black: #000000;
    --primary-section-fon: #2f303a;

    /* decoration */
    --decoration-work-list: #eeeeee;
    --decoration-background: #f5f4fa;
    --decoration-buttons-2: #a9a9ad;
    --decoration-color-customers: #afb1b8;
}