.work-list-pozition {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  // width: 450px;
  gap: 30px;
}

//  @media screen and (min-width: 768px) {
//     // justify-content: space-between;
//   }

//   @media screen and (min-width: 1200px) {
//     // justify-content: center;
//     // margin: -15px;
//     row-gap: 0px;
//   }

.img-paddings {
  display: block;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.titles-of-works {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.paragraphs-of-works {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}

.work-list {
  width: 1200px;
  padding: 0 15px;
}

.work-list-pozition {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    // margin: -15px;
  }
}

.work-elements {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    // margin: 15px;
  }
}

.work-elements:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-elements:hover .work-elements-hover-text {
  transform: translateY(0);
}

.work-elements-hover {
  overflow: hidden;
  position: relative;
}

.work-elements-hover-text {
  // margin-top: 2px;

  position: absolute;
  top: 0;
  left: 0;
  // width: 100%;
  height: 100%;

  padding: 8px 2px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--color-white);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(102%);

  @media screen and (min-width: 480px) {
    padding: 63px 24px;
  }
}

.decoration-work-lilt {
  border-left: 1px solid var(--decoration-work-list);
  border-right: 1px solid var(--decoration-work-list);
  border-bottom: 1px solid var(--decoration-work-list);

  padding: 20px 18px;
}
